<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>試合動画を選択するためにフォトライブラリへのアクセスが必要です</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>エクスポートした動画を写真に保存するためにアクセスが必要です</string>
</dict>
</plist>
